<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>ReMailable</title>
        <link
            href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,500;0,700;1,500;1,700&family=Roboto&display=swap"
            rel="stylesheet"
        />
        <link
            rel="stylesheet"
            href="https://bootswatch.com/4/lux/bootstrap.min.css"
        />
    </head>
    <body>
        <div>
            <!-- hi :) -->
            <br />
            <br />
            <br />
            <br />
        </div>
        <div class="container">
            <div class="row">
                <div class="col col-6 offset-3">
                    <h1
                        style="
                            text-transform: none;
                            text-align: center;
                            font-size: 42pt;
                        "
                    >
                        ReMailable
                    </h1>
                    <p class="card-text" style="text-align: center">
                        Email documents to your ReMarkable tablet.
                    </p>
                </div>
            </div>
            <br />
            <br />
            <br />
            <div class="row">
                <div class="col col-6 offset-3">
                    <div class="card">
                        <div class="card-body">
                            <h1 class="card-title">1. Setup</h1>
                            <div class="card-text">
                                <p>
                                    Write an email to
                                    <a
                                        href="mailto:remailable@getneutrality.org"
                                        >remailable@getneutrality.org</a
                                    >, and make the subject line
                                    <a
                                        href="https://my.remarkable.com/connect/mobile"
                                        >a new 8-character one-time code.</a
                                    >
                                </p>
                                <p>
                                    You only have to do this step once ever ever
                                    ever!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col col-6 offset-3">
                    <div class="card">
                        <div class="card-body">
                            <h1 class="card-title">2. Usage</h1>
                            <div class="card-text">
                                Send a PDF to
                                <a href="mailto:remailable@getneutrality.org"
                                    >remailable@getneutrality.org</a
                                >
                                from that email address, and it will magically*
                                appear on your ReMarkable Tablet. (You will
                                receive an email with a confirmation, or an
                                indication of why your message failed.)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col col-6 offset-3">
                    <div class="card">
                        <div class="card-body">
                            <h1 class="card-title">3. That's It!</h1>
                            <div class="card-text">
                                <p>
                                    I would love your insight and code review if
                                    you are concerned about user privacy.
                                </p>
                                <p>
                                    The source code for this project is
                                    available
                                    <a
                                        href="https://github.com/j6k4m8/remailable"
                                        >on GitHub</a
                                    >, and you can contact me
                                    <a href="https://twitter.com/j6m8"
                                        >on Twitter at @j6m8</a
                                    >.
                                </p>
                                <br />
                                <br />
                                <b
                                    >This project is NOT affiliated with
                                    ReMarkable.</b
                                >
                                <p>
                                    At any time, you can send an email with the
                                    subject line "Unsubscribe"
                                    (case-insensitive) to delete your account
                                    and prevent all further emails.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
        </div>
        <style>
            html,
            body {
                font-family: "Roboto", sans-serif;
            }

            a {
                border-bottom: 1px solid #333;
                transition: all 0.1s;
            }
            a:hover {
                border-bottom: 2px solid black;
            }

            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                font-family: "Playfair Display", serif;
                letter-spacing: 0.05em;
            }
        </style>
    </body>
</html>
